<?xml version="1.0"?>
<ruleset>
    <file>./src/</file>
    <file>./tests/src/</file>
    <file>./tests/unit/</file>
    <file>./tests/integration/</file>

	<arg value="sp"/>
	<arg name="colors"/>
	<config name="testVersion" value="8.2-"/>

    <rule ref="Syde-Extra">
        <exclude name="WordPress.PHP.DiscouragedPHPFunctions.serialize_serialize" />
        <exclude name="WordPress.PHP.DiscouragedPHPFunctions.serialize_unserialize" />
        <exclude name="WordPress.DB.PreparedSQL" />
        <exclude name="WordPress.DB.PreparedSQLPlaceholders" />
    </rule>

	<rule ref="SlevomatCodingStandard.Files.TypeNameMatchesFileName">
        <properties>
            <property name="rootNamespaces" type="array">
                <element key="src" value="Inpsyde\Dbal" />
                <element key="tests/src" value="Inpsyde\Dbal\Tests" />
                <element key="tests/unit" value="Inpsyde\Dbal\Tests\Unit" />
                <element key="tests/integration" value="Inpsyde\Dbal\Tests\Integration" />
            </property>
        </properties>
    </rule>

    <rule ref="Syde.NamingConventions.ElementNameMinimalLength">
        <properties>
            <property name="additionalAllowedNames" type="array" value="eq" />
        </properties>
    </rule>

    <rule ref="Generic.Metrics.CyclomaticComplexity">
        <properties>
            <property name="complexity" type="integer" value="20" />
        </properties>
    </rule>

    <rule ref="WordPress.Security.EscapeOutput.ExceptionNotEscaped">
        <exclude-pattern>/tests/*</exclude-pattern>
    </rule>
    <rule ref="Syde.Functions.FunctionLength">
        <exclude-pattern>/tests/*</exclude-pattern>
    </rule>
    <rule ref="WordPress.PHP.DevelopmentFunctions">
        <exclude-pattern>/tests/*</exclude-pattern>
    </rule>
    <rule ref="WordPress.PHP.NoSilencedErrors">
        <exclude-pattern>/tests/*</exclude-pattern>
    </rule>
</ruleset>
